/*******************************************************************************************************************
*        File: style.css
*     Created: 2/22/2016

*     Project: CMSC 433 - Project 1
* Description: This is the main (and hopefully only) stylesheet for Project 1. This file contains strictly CSS.
*******************************************************************************************************************/

/*General Styling*/

body
{
    overflow-x: visible;
    background-color: #F5CA5C;
    height:0;
    width: 100%;
}
a
{
    cursor: pointer;
}

div.header
{
    font-size: 1.875em;
    text-align: center;
    text-shadow: 1px 2px white;
}

.clear {
    clear: both;
}

form
{
    padding: 10px; /*Adds spacing inside the border.*/
    margin: 2px; /*Adds spacing outside the border.*/
    box-sizing: border-box; /*Makes it so the width value include the border and padding.*/
    width: 600px; 
    background-color:white;
}

 /*To space the inputs out a little bit from each other, without adding more spacing to the sides.*/
input
{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

#formArea {
    position: relative;
    width: 600px;
    margin: auto;
}

/*Styling the classes entered div */
div.currentClasses
{
    min-height: 145px;
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
    border: 2px solid black;
    width: 600px;
    background-color: white;
}

span.course
{
    border: 1px solid #ccc;
    margin: 1px;
    padding: 2px 2px;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 14px;
    display: inline-block;	
    border-radius: 7px;
    background-color: white;
}

span.NA {
    border: 2px solid #ccc;
    margin: 1px;
    padding: 2px 2px;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    display: inline-block;	
    border-radius: 7px;
    background-color: white;
}

span.curr
{
    margin: 1px;
    padding: 2px 2px;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    display: inline-block;	
    border-radius: 7px;
    border: 2px solid #ffff00;
    background-color: #ffff44;
}

span.done
{	
    margin: 1px;
    margin-bottom: 2px;
    padding: 2px 2px;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    display: inline-block;	
    border-radius: 7px;
    border: 2px solid #33cc33;
    background-color: #adebad;

}

/*Seperating the two forms from each other, and adding a border*/
form.userinfo
{
    border: 2px solid red;
    margin-bottom: 5px;
}

form.courseinfo
{
    border: 2px solid black;
    margin-top: 5px;
}

/*Styling the submit button to make it stand out a little*/
input.finalsubmit
{
    font-weight: bold;
    font-size: 1.01em;
}

/*Submit Page CSS*/
span.message
{
	font-weight: bold;
	font-size: 110%;
}

a.submitLink
{
	color: #004d00;
}

a.submitLink:hover
{
	color: #00e600;
}


#oldClassInput
{
    display: none;
}

#saveStudentForm
{
    display: none;
    position: relative;
}

#toggleFormButton {
    width: 600px;
    height: 30px;
    margin: 2px;
}

/*Tree Css*/ 

/*formatted after http://thecodeplayer.com/experiments/css3-family-tree-multiple-parents.html
and http://thecodeplayer.com/walkthrough/css3-family-tree */
#trees {
    height: 0;
}
div.tree 
{
	position: relative;
	z-index: -1;
    height: 0;
}

/* this styles the list tags to be receptive to what we're going to do later */
.tree ul 
{
    padding-top: 6px;
    padding-left: 0;
    margin: 0;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li 
{
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 6px 0px 0 2px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

ul > li > a {
    margin-left: 7px !important;
}

/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after
{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #6A49A7;
    width: 50%; height: 6px;
}

.tree li::after
{
    right: auto; left: 50%;
    border-left: 1px solid #6A49A7;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before 
{
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child
{ 
	padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after
{
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before
{
    border-right: 1px solid #6A49A7;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after
{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before
{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #6A49A7;
    width: 0; height: 6px;        
}


/* This makes the pretty little boxes for classes and categories */
.tree li a, .tree li span
{
    border: 2px solid #6A49A7;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    background-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/* these because you can take these classes by default */
.tree a#cmsc201, .tree a#cmsc203, .tree a#cmsc486, .tree a#cmsc427
{
    border: 1px solid #ffff00;
    background-color: #ffff44;
}

.tree span#no-prereq
{
	border: 2px solid #33cc33;
	background-color: #adebad;
}
